body {
    background-color: rgb(37, 36, 36);
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    color: white;
    border: 3px;
    border-color: white;
    border-style: dashed;
    border-radius: 25px;
}

ul {
    list-style-type: square;
    display: inline-flex;
    list-style: none;
}

li {
    margin: 5px;
    font-size: larger;
}

a {
    color: slateblue;
}

input {
    margin: 10px;
}

input:focus {
    background-color: lightgreen;
}

a:hover {
    color: salmon;
}

input:hover {
    background-color: lightgreen;
}

a:visited {
    color:salmon;
}

#square {
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: square-color;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes square-color {
    0% {background-color: red; border-radius: 0px;}
    33% {background-color: blue; border-radius: 50px;}
    66% {background-color: green; border-radius: 30px;}
    95% {background-color: red; border-radius: 100%;}
}

#square2 {
    height: 100px;
    width: 100px;
    background-color: white;
    animation-name: square-slide;
    animation-duration: 4s;
    position: relative;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes square-slide {
    0% {left:0%}
    25% {left:25%}
    50% {left: 12%}
    90% {left: 50%}
    100% {left:0%}
}

#square3 {
    height: 100px;
    width: 100px;
    background-color: slateblue;
    animation-name: square-grow;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes square-grow {
    0% {width: 0px; height: 0px;}
    100% {width: 200px; height: 200px;}
}